<div class="main">
  <!-- div class="section">
    <h1>Hello world</h1>
    <p>I'm a Rails developer.</p>
  </div -->

  <div class="section">
    <h2>Drivers</h2>
    <ul>
    <li>Joe Bloggs</li>
    <li>Jane Doe</li>
    </ul>

	<!-- action="/drivers/new" -->
  </div>
</div>