<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Your driver has arrived <%= @driver.fname %></h1>

<p>
  Look for a car with registration <%= @driver.reg %>
</p>
</body>
</html>