<div class="main">
  <div class="section">
    <h1>New Driver</h1>
  </div>

  <%= render 'form', driver: @driver %>

  <div class="section">
    <%= link_to 'Cancel', drivers_path, class: "brand-button" %>
  </div>
</div>
