/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "font-awesome";
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    width:          750px;
    margin:         auto;
    margin-bottom:  10px;
}

.overlay {
    position:    absolute;
    width:       100%;
    color:       white;
}

.nav-bar {
    background-color: #474766;
    width:            100%;
    height:           56px;
}

.menu-item {
    color:          white;
    padding-right:  25px;
    float:          right;
}

.menu-item:visited {
    color:   white;
}

.menu-list {
    list-style-type: none;
    line-height:     46px;
}

.left-nav {
    width: 20%
}

.right-nav {
    width: 80%;
    float: right;
}

.img_full {
    width:  100%;
    height: auto;
}

.img_small {
    height:     48px;
    width:      auto;
    margin:     5px;
}

.welcome {
    padding-left: 70px;
    padding-top:  70px;
}

.inset {
    padding-left: 70px;
}

.inset a {
    color: white;
}

a {
    text-decoration: none;
    color:           blue;
}

a:visited {
    color:    darkblue;
}

/* table {
    background-color: #ECECEC;
    margin-bottom:    20px;
    min-width:        200px;
}

th {
    padding-left: 5px;
} */

label {
    display: inline-block;
    margin-top: 10px;
}

.section > a {
    background-color: #ECECEC;
    color:            #7f7f7f;
    border-color:     #e5e5e5;
    border-style:     solid;
    border-width:     1px;
    border-radius:    15px;
    padding:          5px 10px 5px 10px;
    font-size:        16px;
    min-width:        60px;
}

.link > a {
    background-color: #ECECEC;
    color:            #7f7f7f;
    border-color:     #e5e5e5;
    border-style:     solid;
    border-width:     1px;
    border-radius:    15px;
    padding:          5px 10px 5px 10px;
    font-size:        16px;
    min-width:        60px;
}

input {
    color:            #7f7f7f;
    border-color:     #e5e5e5;
    border-style:     solid;
    border-width:     1px;
    padding:          5px 10px 5px 10px;
    font-size:        16px;
    min-width:        60px;
    background-color: #ECECEC;

}

input[type="text"] {
    font-size:        12px;
    background-color: white;
}

select {
    font-size: 14px;
}

input[type="submit"] {
    cursor:           pointer;
    border-radius:    15px;

}

input[type="file"] {
    margin-right:     20px;
}

input:-webkit-autofill {
    -webkit-box-shadow:      0 0 0 50px white inset;
    -webkit-text-fill-color: darkgray;
}

img {
    width: 160px;
}

.notice {
    margin:         0 auto;
    padding-left:   20px;
    color:          white;
    text-align:     center;
    background-color: #474766;
}

.middle {
  text-align: center;
}

.tall {
  height:  330px;
}

.less-tall {
  height: 150px;
}

.field {
    margin-top:    6px;
    margin-bottom: 6px;
}

*:focus {
   outline: none;
}

a:hover {
    background-color: inherit;
}
