/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section {
    width:          500px;
    margin:         0 auto;
}

table {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.overlay {
    position:    absolute;
    width:       100%;
    color:       white;
}

a {
    text-decoration: none;
}

.nav-bar {
    background-color: #474766;
    width:            100%
}

.menu-item {
    color:          white;
    padding-right:  25px;
    float:          right;
}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 22px;
    line-height: 22px;
}

.img_full {
    width:  100%;
    height: auto;
}

.img_small {
    height:  48px;
    width:   auto;
    margin-top: -10px;
}

h1 {
    padding-left: 70px;
    padding-top: 70px;
}

.notice {
    margin:         0 auto;
    padding-left:   20px;
    color:          white;
    text-align:     center;
}

form {
    margin-left: 20px;
}

input[type=submit] {
    font-size:    32px; // TODO why do we need this??
}