// Place all the styles related to the Taxi controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa {
  color: #2E2F30;
}

.fa:visited {
  color: #2E2F30;
}

.fa::before {
  font-size: 18px;
}

.actions {
  font-size: 22px;
}

.jobs {
  th, td {
    padding: 7px;
  }
}